/*
 * -------------------------------------------------
 *  gwas-nf Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

params.outdir = "./results"
params.genotype  = "/groups/becker/projects/becker_common/software/genotypes/1.0.0/1001genomes/all_chromosomes_binary.pkl.xz"
params.kinship  = "/groups/becker/projects/becker_common/software/genotypes/1.0.0/1001genomes/kinship_ibs_binary_mac5.pkl.xz"
params.phenotype = "/groups/becker/projects/becker_common/software/mtl/gwas-nf/test/*csv"
params.mac = 5
params.singletrait = false
params.alpha = 0.05

includeConfig 'conf/base.config'

profiles {
  local { process.executor = 'local' }
  cbe { includeConfig 'conf/cbe.config' }
  singularity { singularity.enabled = true }
  docker { docker.enabled = true }
  conda { process.conda = "$baseDir/environment.yml" }
}

manifest {
    homePage = 'https://github.com/Gregor-Mendel-Institute/GWAS-nf'
    description = "A nextflow pipeline to run genome wide association studies using limix "
    name = 'GWAS-nf'
    version = '0.1'
    mainScript = 'main.nf'
    nextflowVersion = '>=19.10.0'
}

tower {
  accessToken = '381521ad7b481979918df52d245e904e31a42cb4'
  enabled = true
}

timeline {
  enabled = true
  file = "${params.outdir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_dag.svg"
}
