
/* -------------------------------------------------
 * Nextflow config file for GWAS-nf
 * -------------------------------------------------
 */

process {
  container = 'gitlab.lrz.de:5005/beckerlab/gwas-nf:1001methylomes'

  withName: retrieveRates {
  	cpus = { 4 * task.attempt }
  	memory = { 4.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }
  withName: filterGenotypes {
    cpus = { 2 * task.attempt }
  	memory = { 32.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
   withName: runGWAS {
    cpus = { 2 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 2.h * task.attempt }
  }
  withName: plotGWAS {
    cpus = { 1 * task.attempt }
  	memory = { 4.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}
