
/* -------------------------------------------------
 * Nextflow config file for GWAS-nf
 * -------------------------------------------------
 */

process {
  withName: readPhenotypes {
  	cpus = { 1 * task.attempt }
  	memory = {1.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: filterGenotypes {
    cpus = { 1 * task.attempt }
  	memory = {64.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
   withName: runGWAS {
   cpus = { 1 * task.attempt }
   memory = {32.GB * task.attempt }
   time = { 1.h * task.attempt }
  }
  withName: plotGWAS {
    cpus = { 1 * task.attempt }
  	memory = {2.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }  
}
