/* ----------------------------------------------------
 * Nextflow config file for the BioHPC Genomics Cluster
 * ----------------------------------------------------
 */

process {
  beforeScript = 'module use /dss/dssfs01/pr53da/pr53da-dss-0000/spack/modules/x86_avx2/linux*'
  module = 'charliecloud/0.22:miniconda3'
  executor = 'slurm'
  queue = { task.memory <= 120.GB ? 'biohpc_gen_normal' : 'biohpc_gen_highmem' }
  clusterOptions = '-M biohpc_gen'
}
