/* -------------------------------------------------
 * Nextflow config file for CBE 
 * -------------------------------------------------
 */

singularity.enabled = true

process {
  container = 'docker.artifactory.imp.ac.at/becker/gwas-nf:dev'
  executor = 'slurm'
  module = 'singularity/3.2.1'
}
